<!doctype html>
<head>
    <title>{% block title %}VK RecSys{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
</head>


<body>
<div class="container">
    <div class="row">
        <div class="col-6" style="margin: auto auto;">

            <div id="recommendations-block">
                <div class="input-group mt-3">
                    <input id='input-link' type="text" class="form-control" placeholder="Link to a vk profile"
                           aria-label="Link to a vk profile" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" id="get-recommendations-btn" type="button">Get recommendations
                        </button>
                    </div>
                </div>
                <div id="recommendations"></div>
            </div>


        </div>
    </div>
</div>
</body>

<script src="{{ url_for('static', filename='custom.js') }}"></script>
